/*ОСНОВНОЕ*/

*{box-sizing:border-box}
body {
  margin: 0;  
  font-family: abeezee;
  background: url(../resource/background.jpg); 
  background-attachment: fixed; 
  background-size: 100%;
  color: white;
}

#content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#leftPart{     
    width: 50%; 
    height: 100%; 
    margin: 0 left;
    position: absolute; 
    text-align: center;    
    display:inline-block;
    vertical-align: middle;
    padding-top: 15%;
    padding-bottom: 15%; 
}

#leftPartMain{     
    width: 50%; 
    height: 100%; 
    margin: 0 left;
    position: absolute; 
    text-align: center;    
    display:inline-block;
    vertical-align: middle;
    padding-top: 10%;
    padding-bottom: 15%; 
}

#rightPart{         
    width: 50%;
    height:100%; 
    margin: 0 auto;
    position: fixed;
    left:50%;
    text-align: center;    
    display:inline-block; 
    padding-top: 25vh;
    padding-bottom: 25vh; 
    
}

.logo{margin-top: 10%;margin-bottom: 10%; transition: 0.5s;}
.logo:hover{filter: drop-shadow(0 0 1vh #4F4F4F);}

.bmenu{
    padding: 0px;
    margin: 0 0 0 0;
    position: relative;
    font-size: 100%;
    height: 70%;
    margin-top: 5%;

}
.bmenu li{
    
    display: block;
}

.bmenu li a{
    font-size: 10vh;
    color: transparent;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0px 0px 0.75vh #fff;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.bmenu:hover li a{
    font-size: 10vh;
    text-shadow: 0px 0px 1vh #4F4F4F;
}
.bmenu li a:hover{
    font-size: 10vh;
    color: #fff;
    text-shadow: 0px 0px 0.5vh #fff;
    padding-left: 10px;
}

@font-face {
    font-family: websymbol; /* Гарнитура шрифта */
    src: url(../resource/fonts/websymbolsligaregular.ttf); /* Путь к файлу со шрифтом */
   }

@font-face {
    font-family: abeezee; /* Гарнитура шрифта */
    src: url(../resource/fonts/abeezee.ttf); /* Путь к файлу со шрифтом */
   }

::selection {
background: black;
color: white;
}

#sound{
    margin-left: 10%;
    margin-bottom: 10%;
    opacity: 0.5;
    transition: 0.7s;
}

#sound:hover{
    opacity: 1;
}

.lmenu{
    margin-top: -25%;
    font-size: 10%;
    height: 100%;    
}

.showTable{
    color: white;
    width: 100%;
    margin-bottom: 10%;
    max-width: 100%;
}

.showTable tr:first-child{
    background: rgba(255,255,255,0.5);
}

#music{
    font-size: 200px;
}

/*ВСПЛЫВАЮЩИЕ ПОДСКАЗКИ*/

.tooltip {
  border-bottom: 1px dotted #000000;
  color: #000000; outline: none;
  cursor: help; text-decoration: none;
  position: relative;
  
}
.tooltip span {
  margin-left: -999em;
  position: absolute;
  text-decoration: none;
  
}

.tooltip:hover span {
  
  font-family: Calibri, Tahoma, Geneva, sans-serif;
  position: absolute;
  left: 1em;
  top: 2em;
  z-index: 99;
  margin-left: 0;
  width: 250px;
}
.tooltip:hover em {
  font-family: Candara, Tahoma, Geneva, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  padding: 0.2em 0 0.6em 0;
}
.classic { padding: 0.8em 1em; }
.custom { padding: 0.5em 0.8em 0.8em 2em; }
<strong>* html</strong> a:hover { background: transparent; }

.classic { background: #FFFFAA; border: 1px solid #FFAD33; 
border-radius: 5px 5px 0 0;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.1);
-webkit-box-shadow: 5px 5px rgba(255, 255, 255, 0.1);
-moz-box-shadow: 5px 5px rgba(255, 255, 255, 0.1);}
.critical { background: #FFCCAA; border: 1px solid #FF3334; }


/*КОНТАКТЫ*/


.contactBlock{
    margin: 3%;
    padding: 1%;
    width: 40%;
    height: 50%;
    color: white;  
    display: inline-block;
    transition: 0.5s;
    cursor:pointer;
}

.contactBlock:hover {
  box-shadow: inset -2em 0 0 0 white;
}

.contactImage{
    width: 30%;
    margin: 0;
    fill: white;
    
}

.soundcloud{background-color: #FF3300;}
.twitter{background-color: #1DA1F2;}
.instagram{background-color: #E4405F;}
.vk{background-color: #6383A8;}